
<div class="container my-5 p-4 shadow-lg bg-dark text-white rounded">
    <h1 class="text-center mb-4">Data Table</h1>
    <table class="table table-bordered table-hover text-white">
      <thead class="bg-secondary text-uppercase fw-bold">
        <tr>
          <th *ngFor="let col of cols">{{ col }}</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let name of name">
          <td>{{ name.id }}</td>  
          <td>{{ name.name }}</td> 
          <td>{{ name.value }}</td> 
          <td>{{ name.category }}</td>  
          <td>{{ name.timestamp }}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  
